<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{~/product/remove}" th:object="${products}" method="post" >
<input type="hidden" th:field="*{Id}">
		<table  class="col-sm-12">
			<tr>
				<td >Product Name</td>
				<td th:text="${products.Name}" class="form-control"></td>
			</tr>
			<tr>
				<td>Price</td>	
				<td th:text="${products.Price}" class="form-control"></td>
			</tr>
			<tr>
				<td>Stock</td>
				<td th:text="${products.Stock}" class="form-control"></td>
			</tr>
			<tr>
				<td>Category Id</td>
				<td th:text="${products.CategoryId}" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" align=""><input type="submit" class="btn btn-danger" value="Delete Product"></td>
			</tr>
		</table>
	</form>
</body>
</html>