<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{~/variant/remove}" th:object="${variant}" method="post" >
<input type="hidden" th:field="*{Id}">
		<table class="col-sm-12">
			<tr>
				<td>Product Name</td>
				<td th:text="${variant.VariantName}" class="form-control"></td>
			</tr>
			<tr>
				<td>Category Id</td>
				<td th:text="${variant.CategoryId}" class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" class="btn btn-danger" value="Delete Variant"></td>
			</tr>
		</table>
	</form>
</body>
</html>