<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{~/variant/save}" method="post" th:object="${variant}" >
		<input type="hidden" th:field="*{Id}">
		<div class="form-group row">
		    <label class="col-sm-4 col-form-label">Variant Name</label>
		    <div class="col-sm-8">
		      <input type="text" th:field="*{VariantName}" class="form-control" >
		    </div>
	  	</div>
	  	<div class="form-group row">
		    <label class="col-sm-4 col-form-label">Category Id</label>
		    <div class="col-sm-8">
			    <select class="form-control" th:field="*{CategoryId}" >
			    <option th:each="t : ${category}" th:text="${t.CategoryName}" th:value="${t.Id}"></option>
		    </select>
	      </div>
   		</div>
	  	<div class="form-group row">
		    <div class="col-sm-12" align="right">
			  <input class="btn btn-primary" type="submit" value="Save Variant">
		    </div>
  		</div>
	</form>
</body>
</html>