<!doctype html>
<html lang="en">
  <head>
 	<meta charset="ISO-8859-1">
	<title>Insert title here</title>	
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/jquery.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">    
	
	
</head>
<body>

	<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="mytitle">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="modalbody">
	      </div>
	    </div>
	  </div>
	</div>

<div class="container-fluid">
	<button onclick="addform()" class="btn btn-primary">Tambah data</button>
	<table id="tabel" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Variant Name</th>
                <th>Category Id</th>
                <th>Aksi</th>
                <th>Aksi</th>
            </tr>
        </thead>
		<tbody>
			<tr th:each="item : ${variant}">
				<td th:text="${item.VariantName}"></td>
				<td th:text="${item.categorymodel.CategoryName}"></td>
				<td><button class="btn btn-warning" th:value="${item.Id}" onclick="gotoedit(this.value)">Edit</button></td>
				<td><button class="btn btn-danger" th:value="${item.Id}" onclick="gotodelete(this.value)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	</div>

</body>
<script type="text/javascript">

	function gotoedit(id){
		$.ajax({
			type:'get',
			url:'/variant/edit/'+id,
			dataType:'html',
			success:function(data){
				document.getElementById('modalbody').innerHTML = data;
				document.getElementById('mytitle').innerHTML = "Edit Data";
				$('#mymodal').modal();
			}
		})
	}
	
	function gotodelete(id){
		$.ajax({
			type:'get',
			url:'/variant/delete/'+id,
			dataType:'html',
			success:function(data){
				document.getElementById('modalbody').innerHTML = data;
				document.getElementById('mytitle').innerHTML = "Hapus Data";
				$('#mymodal').modal();
			}
		})

	}
	function addform(){
		console.log("here");
		$.ajax({
			type:'get',
			url:'/variant/form',
			dataType:'html',
			success:function(data){
				document.getElementById('modalbody').innerHTML = data;
				document.getElementById('mytitle').innerHTML = "Tambah Data";
				$('#mymodal').modal();
			}
		})
	}
	$(document).ready(function() {
	    $('#tabel').DataTable();
	} );
	

	
	
	
</script>
</html>