<!doctype html>
<html lang="en">
  <head>
 	<meta charset="ISO-8859-1">
	<title>Insert title here</title>	
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
	
	<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}">    
	
	
</head>
<body>

	<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="mytitle">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="modalbody">
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" >Add Category</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="formCategory">
	      <form id="formCategory">
			<div class="form-group">
				<label for="title">Category Name :</label><br> <input
					class="form-control" type="text" id="categoryName" name="categoryName"
					placeholder="Category Name">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-dismiss="modal">Close</button>
				<button type="button" id="saveBtn" class="btn btn-primary">Save</button>
			</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>

<div class="container-fluid">
	<button onclick="addform()" class="btn btn-primary">Tambah data</button>
	<button class="btn btn-primary" data-toggle="modal" data-target="#addCategory">New</button>

	

	<table id="tabel" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Aksi</th>
                <th>Aksi</th>
            </tr>
        </thead>
		<tbody>
			<tr th:each="item : ${category}">
				<td th:text="${item.CategoryName}"></td>
				<td><button class="btn btn-warning" th:value="${item.Id}" onclick="gotoedit(this.value)">Edit</button></td>
				<td><button class="btn btn-danger" th:value="${item.Id}" onclick="gotodelete(this.value)">Delete</button></td>
			</tr>
		</tbody>
	</table>
		<table class="table table-striped">
	        <thead>
	            <tr>
	                <th>Initial</th>
	                <th>Name</th>
	                 <th>Varian</th>
	                 <th></th>
	                 <th>Product</th>
	            </tr>
	        </thead>
	        <tbody id="category_body"></tbody>
	     </table>
	</div>
</body>
<script th:src="@{/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript">
	
	//memeasukan url kedalam variabel
	var apiCategory = "/api/category/";
	

	//fungsi anonim
	$(()=> {
		console.log('hello');
		onLoadApi();
	});
	
	//fungsi load data api
	onLoadApi=()=>{
		$.ajax({
			type:'get',
			url: apiCategory,
			contentType:'application/json',
			success : (respond) =>{
				generateTable(respond);
			},
			error:()=>{
				console.log('failed');
			}
		});
	}
	
	

	function gotoedit(id){
		$.ajax({
			type:'get',
			url:'/category/edit/'+id,
			dataType:'html',
			success:function(data){
				document.getElementById('modalbody').innerHTML = data;
				document.getElementById('mytitle').innerHTML = "Edit Data";
				$('#mymodal').modal();
			}
		})
	}
	
	function gotodelete(id){
		$.ajax({
			type:'get',
			url:'/category/delete/'+id,
			dataType:'html',
			success:function(data){
				document.getElementById('modalbody').innerHTML = data;
				document.getElementById('mytitle').innerHTML = "Hapus Data";
				$('#mymodal').modal();
			}
		})

	}
	function addform(){
		console.log("here");
		$.ajax({
			type:'get',
			url:'/category/form',
			dataType:'html',
			success:function(data){
				document.getElementById('modalbody').innerHTML = data;
				document.getElementById('mytitle').innerHTML = "Tambah Data";
				$('#mymodal').modal();
			}
		})
	}
	$(document).ready(function() {
	    $('#tabel').DataTable();
	} );
	
	//Generate Table
	generateTable=(resdata)=>{
		var tr;
		resdata.map((res)=>{
			tr = $('<tr/>');
			tr.append("<td>"+ res.id +"</td>");
			tr.append("<td>"+ res.categoryName +"</td>");
			
			res.variants.map((varian)=>{
				tr.append("<li>"+ varian.variantName +"</li>")
			})
			tr.append("<td/>") 
			
			res.products.map((prod)=>{
				tr.append("<li>"+ prod.name +"</li>")
			})
			
			$("#category_body").append(tr);
		});
	}
		
		/* var tr;
		//jquery will search
		$('#category_body').html('');
		resdata.map((res)=>{
			var markup = "<tr><td>"+res.id+"</td>"+
			"<td>"+res.categoryName+"</td></tr>"
		}) */
		$("#saveBtn").click(function() {
			let data ={
					categoryName : $("#categoryName").val()
					
			}
			$.ajax({
				url : '/api/category/add',
				type : 'post',
				contentType : 'application/json',
				data: JSON.stringify(data),
				success: (respond) =>{
					alert('Data has been save');
					//onLoadApi();
				},
				error:()=>{
					console.log('Failed to save data');
				}
			})
		});
		
	
		
	
	
</script>
</html>